<html>
    <head>
        <title>Django Girls blog - Sindrome del Impostor</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <br>
            <h2><a href="">¿Qué es el sindrome del impostor?</a></h2>
            <p>El síndrome del impostor hace referencia a la incapacidad de algunas personas para interiorizar 
                y atribuirse sus éxitos y sus logros. Muy al contrario, asumen que sus éxitos y sus logros son fruto de la suerte, 
                la coincidencia o son el resultado de la ayuda prestada por otros.</p>
            <br>
            <p>En base a esto, asumen que no son lo suficientemente buenos como para desempeñar el puesto que 
                ostentan o para realizar determinadas actividades que les son asignadas. 
                Esto les hace sufrir un miedo persistente a ser descubertos como fraudes. 
                Temen que en algún momento los demás se den cuenta de que no son lo suficientemente buenos 
                y que por tanto no son merecedores del puesto que desempeñan.</p>
        </div>

        <div>
            <p>El concepto del síndrome del impostor fue desarrollado por la doctora Pauline Clance en 1978. 
                Esta psicóloga se percató de que muchos de sus alumnos tenían dudas de sus propias capacidades 
                y no se sentían orgullosos de los logros obtenidos en sus estudios. 
                Al darse cuenta de que no era un hecho aislado o anecdótico, decidió investigar este fenómeno junto a su colaboradora Suzanne Imes.</p>
            <br>
            <h2><a href="">Fuente: https://www.psicoglobal.com</a></h2>
            <p>Este miedo es irracional, ya que el miedo no se corresponden con su verdadero desempeño, 
                es decir, el desempeño y la ejecución que realiza la persona es óptimo incluso por encima de lo 
                esperado pero su percepción es que su desempeño no ha sido bueno y si los resultados son buenos, 
                asume no se debe a su competencia y eficacia sino a factores externos. 
                Y es toda esta manera de enfocar la situación lo que le lleva a pensar que en el fondo es un impostor 
                que no se merece estar en el sitio que está.</p>
        </div>
    </body>
</html>